body{
    background-color:rgb(231, 219, 201);
}

.grid-container{
    width: 913px;
    height: 1218px;
    margin: 0 auto;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 300px 300px 300px 300px;
}

.box:hover{cursor: pointer;}

/* Gridbox als Container für die Bilder */
#box-0{ grid-column: 1/2; grid-row: 1/2;}
#box-1{grid-column: 2/3; grid-row: 1/2;}
#box-2{grid-column: 3/4; grid-row: 1/2;}
#box-3{grid-column: 1/2; grid-row: 2/3;}
#box-4{grid-column: 2/4;grid-row: 2/3;}
#box-5{grid-column: 1/3;grid-row: 3/4;}
#box-6{grid-column: 3/4;grid-row: 3/4;}
#box-7{grid-column: 1/2;grid-row: 4/5;}
#box-8{grid-column: 2/3;grid-row: 4/5;}
#box-9{grid-column: 3/4;grid-row: 4/5;}

.w3-teal{
    background-color: red;
}

.w3-container{
    padding:0;
}

/* Galerie Modal*/
.pic-container{
    height:400px;
    padding:20px;
    display:flex;
    justify-content: center;
    align-items: center;

}

#pic-display{
    width: 80%;
    height: 90%;
    border: 1px solid black;
    margin: auto auto;
    transition: 300ms all;
}

.galerie-container{
    border-top: 1px solid black;
    height: 100px;
    display: flex;
    justify-content: space-between;
}

.pics{
    flex:1; 
    outline:1px solid #fff;
    cursor: pointer;
}

.pics:hover{
    border-bottom: 2px solid red;
}

#arrow-left{
    float:left;
    cursor: pointer;
    font-size: 30px;
    padding: 5px;
}

#arrow-right{
    float:left;
    cursor: pointer;
    font-size: 30px;
    padding: 5px;
}

#arrow-left:hover, #arrow-right:hover{background:gray}

.active{
    border: 3px solid red;
}