html { scroll-behavior: smooth; }
body{ background-color: #5B2829;}
#wrapper{ width:90%; margin:auto auto;height:100vh; background-color: white;}
.section{ width:100%; height:30%; background-color: #5B2829;}
a, a:visited{ color: #5B2829}


/* Header inlkusive Color-Overlay */
.container h1{
    font-family: arial;
    font-size: 50px;
    z-index: 1;
    color: #fff;
}

.container, .raidcontainer{
    background: black url('https://images.mein-mmo.de/magazin/medien/2018/09/WoW_Battle_for_Azeroth_Nazmir_03.jpg') no-repeat;
    color:#fff;
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.raidcontainer{
    background-image: url('img/ghuun.png');
    width: 700px;
    height: 500px;
    align-items: flex-start;
}

.color-overlay{
    width: 50%;
    height: 50%;
    position: absolute;
}
/* Header inlkusive Color-Overlay ENDE*/
/* NAV BAR */
nav{ width:100%; background-color: #fff;}
nav ul{ width:80%; margin: 0 auto;}
nav ul li{
    list-style: none;
    display: inline-block;
    padding: 20px;
    text-decoration: none;
    font-size: 24px;
}

nav ul li:hover{cursor: pointer; background-color: #ceb0b0;}
nav ul li a{text-decoration: none;}
.toggle{                   
    width: 100%;
    padding: 10px 20px;
    background-color: #001f44;
    color: #fff;
    text-align: right;
    box-sizing: border-box;
    font-size: 20px;
    display:none;
}

.toggle:hover{cursor: pointer;}
/* NAV BAR ENDE*/
/* About Us */
#aboutUs{
    width: 100%;
    height: 640px;
    color: #5B2829;
    background-color: #fff;
}

#aboutUs p{ font-size: 15px;}
#desc{display:flex;flex-direction: row;}
#desc div{width:80%; height: 100%;}
#box-1{ flex:2;}
#box-2{ flex:1;}
#box-2 h3{text-align: center;}
#box-2 p{font-size: 20px;padding: 5px;}
/* About Us ENDE */

/* Raids */
#raids{
    width: 100%;
    height: 850px;
    background-color: #fff;
}

/* Tabed Content */
.tab{
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tab button{
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 1s;
    font-size:20px;
}

.tab button:hover{ background-color: #00316b; color: white;}
.tab_active{ background-color:#00316b;}
.content{
    display: none;
    padding: 6px 12px;
    border: 1px solid #fff;
    border-top: none;
}

.topright{
    float:right;
    cursor: pointer;
    font-size: 20px;
}

.topright:hover{ color: red;}
/* Legion und BfA Flexbox */
#tab_wrapper{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-evenly;
}

#raid-1, #raid-2{ flex:1;padding: 10px;}
/* Tabed Content ENDE */
/* Slider */
.slider{
    display: block;
    width: 700px;
    height: 500px;
    background: #1f1f1f;
    overflow: hidden;
    position: absolute;
}

.slider >*{
    position: absolute;
    display: block;
    width: 100%;
    height:100%;
    background:#1f1f1f;
    animation: slide 12s infinite;
    overflow: hidden;
}

.slide:nth-child(1){
    left: 0;
    animation-delay: -1s;
    background-image: url(img/header_briefkasten.jpg);
    background-size: cover;
    background-position: center;
}

.slide:nth-child(2){
    animation-delay: 2s;
    background-image: url(img/discord.png);
    background-size: cover;
    background-position: center;
}

.slide:nth-child(3){
    animation-delay: 5s;
    background-image: url(img/wappen_middle.png);
    background-size: cover;
    background-position: center;
}

.slide:nth-child(4){
    animation-delay: 8s;
    background-image: url(img/wappen.png);
    background-size: cover;
    background-position: center;
}

.slide p {
    font-size: 70px;
    text-align: center;
    display: inline-block;
    width: 100%;
    margin-top: 250px;
    color: #fff;
    transform: rotate(-25deg);
}

@keyframes slide {
    0% { left:100%; width: 100%;}
    5% { left: 0%;}
    25%{ left:0%}
    30% {left:-100%; width: 100%;}
    30.0001% {left:-100%; width: 0%;}
    100% {left:-100%;  width: 100%;}
}
/* Slider ENDE*/
/* Raidkader */
#memberflex{
    display: flex;
}

#member-1{flex:1;}
#member-2{flex:1;}
#member-3{flex:1;}
#member-4{flex:1;}

.class{
    width: 25px;
    height:25px;
    background: red;
    border-radius: 50%;
}
/* Raidkader ENDE*/

#infos{ font-size: 16px;}
#offilist{ list-style: none;}
#offilist ul li{text-decoration: none; display: inline-block;}

/* Raids ENDE*/
/* Mythic+ */
#mythic{
    width: 100%;
    height: 800px;
    background: #fff;
    color: #000;
}

#affix_container{
    width: 500px;
    height: 50px;
    margin: auto auto;
}

.affix{
    font-size: 20px;
    width: 105px;
    height: 30px;
    float: left;
    margin: 10px;
    text-align: center;
    
}

.affix:hover{   cursor: pointer;
                color: #ff6600; 
                box-shadow: 0px 5px 8px 0px #888888;
            }


.affix:hover #affix{
    display: inline;
}
/* Rangliste */
table{ font-size: 18px;}
th{ border-bottom: 2px solid #5B2829;}
th, td{ width: 100px; text-align: center;}
#row-1{font-size: 40px; color: goldenrod;}
#row-2{font-size: 36px; color: silver;}
#row-3{ font-size: 30px;color: #cd7f32;}
/* Rangliste ENDE */
/* Mythic+ ENDE*/
/* Kontakt */

/* Kontakt ENDE*/
footer{
    width:100%;
    height: 100px;
    background: lightgray;
    align-items: center;
    justify-content: center;

}

footer ul{ list-style:none; font-size: 10px;}
footer ul li{
    list-style: none;
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
}

#pic{
  width: 120px;
  height:90px;
  float: left;
  background-image: url(img/subbi.png) no-repeat;
  right:0;
}

#list{
    width: 50%;
    height:60px;
    float: left;
    padding: 20px;
    text-align: center;
  }

#bolt{
    font-weight:bold;
    font-size: 20px;
    padding: 10px;
}

/* MEDIA QUERIES */
@media (max-width: 1600px){
    #aboutUs p{font-size: 15px;}
}

@media (max-width:900px){

    .toggle{ display: block;}
    nav ul{ width:100%; display: none; }
    nav ul li{ display: block; text-align: center;}
    nav ul li:hover{ width:90; display: block;}
    .active{
        display: block;
        color: white;
        background-color: #00316b;
    }

    .active a{ color: white;}
    #aboutUs{ height: 700px; }
    #aboutUs p{font-size: 18px;}
    #desc{
        display:flex;
        flex-direction: column;
    }

    #box-1{ display: none; }
    .raid-2{ display: none; }
    .raidcontainer{ display: none; }
    .slider{ display: none; }
}

@media (max-width:700px){
    footer ul li{font-size: 14px;}
    #mythic{height:900px;}
}

@media (max-width:600px){
    footer ul li{ font-size: 10px; }
}