/* Allgemeines CSS */
html{scroll-behavior: smooth}
body{margin:0; padding:0;max-width:1980}
.button{ padding:5px; outline: 1px solid #fff;}
.button:hover{cursor: pointer;}
.section{max-width: 1980px;}
a, a:visited{color:#fff;text-decoration: none;}
/* Landing */
.section{
    max-width:1920;
    max-height:1080px;
}
#landing{
    width:99vw;
    height:99vh;
    background:black url('css/img/title.png');
    display: flex;
}

.landing_container{
    color:#fff;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: calc(8px + 2vmin);
    position: relative;
    display:flex;
    flex-direction: column;
}

/* Über uns */
#about{
    height:100%;
    margin: 0 auto;
    display:flex;
}

#text{
    font-size: calc(10px + 1.5vmin);
    margin:5px;
    flex:2;
}

#pic{
    flex:1;
}

/* Progress Bars */
/* Bars */
.skillbar {
    position:relative;
    display:block;
    margin-bottom:15px;
    width:100%;
    background:#eee;
    height:35px;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    -webkit-transition:0.4s linear;
    -moz-transition:0.4s linear;
    -ms-transition:0.4s linear;
    -o-transition:0.4s linear;
    transition:0.4s linear;
    -webkit-transition-property:width, background-color;
    -moz-transition-property:width, background-color;
    -ms-transition-property:width, background-color;
    -o-transition-property:width, background-color;
    transition-property:width, background-color;
  }
  
  .skillbar-title {
    position:absolute;
    top:0;
    left:0;
    width:130px;
    font-weight:bold;
    font-size:13px;
    color:#ffffff;
    background:#6adcfa;
    -webkit-border-top-left-radius:3px;
    -webkit-border-bottom-left-radius:4px;
    -moz-border-radius-topleft:3px;
    -moz-border-radius-bottomleft:3px;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
  }
  
  .skillbar-title span {
    display:block;
    background:rgba(0, 0, 0, 0.1);
    padding:0 20px;
    height:35px;
    line-height:35px;
    -webkit-border-top-left-radius:3px;
    -webkit-border-bottom-left-radius:3px;
    -moz-border-radius-topleft:3px;
    -moz-border-radius-bottomleft:3px;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
  }
  
  .skillbar-bar {
    height:35px;
    width:0px;
    background:#6adcfa;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
  }
  
  .skill-bar-percent {
    position:absolute;
    right:10px;
    top:0;
    font-size:11px;
    height:35px;
    line-height:35px;
    color:#ffffff;
  }
/* Raidkader */
#kader_container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction:row;
}

.kader{
    flex:1;
    margin: 0 auto;
    font-size: calc(8px + 2vmin);
}

/* Info*/
#raidtext{
    font-size: calc(8px + 1.5vmin);
}

/* Paralax */
.parallax {
    margin-top: 20px;
    background-image: url("css/img/title.png");
    height: 300px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    text-align: center;
    justify-content:center;
    color:#fff;
    display:flex;
    flex-direction: column;
    font-size: calc(14px + 2vmin);
  }

/*Mythic */
#mythic{
    height:100vh;
    display:flex;
    text-align: center;
    flex-direction: column;
}

.card_container{
    height:250px;
    width: 100%;
    max-width:892px;
    margin:0 auto;
}

.card{
    position: relative;
    width:200px;
    height: 200px;
    background: #ff6600;
    overflow: hidden;
    float:left;
    margin-left: 20px;
    flex:1;
    margin:10px;
}

input, .toggle{
    position: absolute;
    width:40px;
    height:40px;
    bottom:20px;
    right:20px;
    outline: none;
    z-index:2;
}

input{
    opacity: 0;
}

.toggle{
    pointer-events: none;
    border-radius:50%;
    background: #fff;
    transition: 0.5s;
    line-height:50px;
    font-size:50px; 
    box-shadow: 0 0 0 0px #9c279c;
}

input:checked ~ .toggle{
    box-shadow: 0 0 0 220px #9c279c;
    transform: rotate(225deg);
}

.imgBox, .content{
    position: absolute;
    top:0;
    left:0;
    width:100%;
}

.content{
    padding: 10px;
    box-shadow: border-box;
    z-index:11;
    pointer-events: none;
    transition: 0.5s;
    opacity: 0;
}

input:checked ~ .content{
    opacity: 1;
    transition-delay:0.5s;

}

.content h3{
    color: #fff;
    text-decoration: underline;
}

.content p{
    color: #fff;
}

.scores{
    width:70%;
    max-width:892px;
    margin:0 auto;
}
table{
    width:100%;
}

.member{
    margin: 10px;
    padding:5px;
    outline:1px solid black;
    width: 80%;
    color: darkblue;
}

/* Kontakt */
#kontakt{
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#kontakt p{
    font-size:24px;
    color:red;
    padding:5px;
}


/* MEDIA QUERIES */
@media screen and (max-width: 1250px) {
    #pic{display: none;}
    #kader_container{
        flex-direction:column;
    }    
}

@media screen and (max-width: 900px) {
    #pic{display: none;}
    .skill-bar-percent,.skillbar-bar,.skillbar-title span, .skillbar-title, .skillbar{
        height: 20px;
        line-height:20px;
    }
    .card_container{width:100%;}
}

@media screen and (max-width: 750px) {
    .parallax{height: 200px;font-size: 24px;}
}

@media screen and (max-width: 650px) {
    .card_container{
        width:100%;
        margin: 0 auto;
        height:450px;
    }
}

@media screen and (max-width: 500px) {
    .card, .imgBox, .content{
        width: 159px;
        height:150px;
    }
    .card{
        margin:10px 0 0 10px;
    }
    .content{
        padding: 0px;
        padding: 0px;     
        font-size: 12px;   
    }

    input, .toggle{
        width:20px;
        height:20px;
        line-height:20px;
        font-size: 16px;
    }

    .card_container{
        height:350px;
    }
}